
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Checkout example for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/checkout/">

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/form-validation.css" rel="stylesheet">
  </head>

  <body class="bg-light" style="margin-bottom:2%;">

    <div class="container">
      <div class="py-5 text-center">
        <h2>Query form</h2>
        <p class="lead">
          Please fill in the data for your search
        </p>
      </div>

      <div class="row">
        <div class="col-md-12 order-md-1">
          
          <!--<form method="POST" action="/api/parameters"> -->
          <form id="queryForm" method="POST">
            <h4 class="mb-3">Price</h4>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">Minimum</label>
                <input type="text" class="form-control" id="minPrice" name="minPrice">
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Maximum</label>
                <input type="text" class="form-control" id="maxPrice" name="maxPrice" >
              </div>
            </div>

            <h4 class="mb-3">Odometer</h4>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">Minimum</label>
                <input type="text" class="form-control" id="minOdometer" name="minOdometer" >
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Maximum</label>
                <input type="text" class="form-control" id="maxOdometer" name="maxOdometer" placeholder=""  required>
              </div>
            </div>

            <h4 class="mb-3">Model Year</h4>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">Minimum</label>
                <input type="text" class="form-control" id="minYear" name="minYear" >
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Maximum</label>
                <input type="text" class="form-control" id="maxYear" name="maxYear" >
              </div>
            </div>

            <h4 class="mb-3">Miles from location</h4>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">Miles</label>
                <input type="text" class="form-control" id="miles" name="miles" >
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">From ZIP</label>
                <input type="text" class="form-control" name="postalCode" id="postalCode" >
              </div>
            </div>
            <div class="row">
            <div class="col-md-6 mb-3">
              <label for="state">Condition</label>
              <select class="custom-select d-block w-100" name="condition" id="condition">
                <option  selected>Choose...</option>
                <option value="10">New</option>
                <option value="20">Like New</option>
                <option value="30">Excellent</option>
                <option value="40">Fair</option>
                <option value="50">Salvage</option>
              </select>
            </div>

            <div class="col-md-6 mb-3">
              <label for="lastName">Make and Model</label>
              <input type="text" class="form-control" id="carModel" name="carModel">
            </div>
          </div>



            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" id="submit">Submit</button>
            <input type="submit"/>
          </form>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/holder.min.js"></script>
    <script src="/static/js/ajaxQuery.js"></script>
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
  </body>
</html>
